.page-content {
    position: relative;
    padding-left: 256px;
}

.ui-empty {
    padding-top: 160px;
    text-align: center;
    .ui-empty-icon {
        display: inline-block;
        margin-bottom: 24px;
    }
    .ui-empty-text {
        color: $color_9;
    }
}

.ui-file-button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}